[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "submodules/Metric3D"]
	path = submodules/Metric3D
	url = https://github.com/cherubicXN/Metric3D
[submodule "submodules/diff-rect-rasterization"]
	path = submodules/diff-rect-rasterization
	url = https://github.com/ant-research/diff-rect-rasterization.git
[submodule "submodules/quaternion-utils/glm"]
	path = submodules/quaternion-utils/glm
	url = https://github.com/g-truc/glm.git
